@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";  // utilise le layout admin avec sidebar
    ViewData["Title"] = "Dashboard";
}

<h1>Bienvenue sur le Dashboard Admin</h1>
<p>Voici le contenu spécifique à la page Dashboard.</p>
